<% provide(:title, 'About Us' ) %>
<h1>About Us</h1>
<p>
	the <a href="http://xuaninwen.om/"> Ruby on rails Tutorial</a> is a project to make a book and screencasts to teach web development with <a href="http://xuanyinwen.com/">Ruby on Rails</a>. this is the sample application for the tutorial.

</p>
